.shop-container{
    display: flex;
}
.product-container{
    /* display: flex; */
    width: 80%;
    margin-left:0px;
    border: 1px solid lightgrey;
}
.sub-product-container{
    padding-left: 10px;
    display: flex;
    margin: 10px;

}
.cart-container{

}