.product{
    margin: 15px;
    padding: 10px 30px 95px 10px; 

    height: 360px;
    width: 250px;
    /* display:flex; */
   
}
.product:hover{
    box-shadow: 0 5px 8px 0 rgb(179, 154, 135);
}
.details{
    text-decoration: none;
    color: rgb(129, 125, 125);
}
.product img{
    border: 1px solid rgb(100, 100, 100);
    border-radius:10px;
}
.button{
    width: 200px;
    height: 30px;
    border: 1px solid darkblue;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffe799;
    color: #593d00;
    display: inline-block;
    font-family: 'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1.2rem;
}
