.navImg { 
height: 30px;
margin: 5px 10px 0px 20px;
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
    padding: 0px;
    
}
nav a{
    text-decoration: none;
    color: white;
    margin-right:0px;
    padding-left: 20px;
    padding-right: 10px;
}
#input{
    height: 40px;
    padding-left: 15px;
    width: 600px;
    margin-bottom:5px;
    border-radius:10px;
    color: #593d00;
    display: inline-block;
    font-family: 'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.02rem;
    font-size: 1.1rem;
}
nav a:hover{
    background-color:gray;
}
.IdName{
    border-radius: 50%;
    background-color:rgb(235, 138, 47);
    align-items: center;
    padding:5px;
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
}